<!--_business_edit_fields.ejs Kwun Hing Lau 301230390  10/19/2022-->


<div class="contactform">
   
      
            <h1><%= title %></h1>


           
            <form method="POST">
                <div class="form-group">
                    <label for="contactNameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                    id="contactNameTextField"
                    placeholder="Enter the Contact Name"
                    name="contactName"
                    value="<%= contactlist.contactName %>"
                    required>
                </div>
                <br>
              
                <div class="form-group">
                    <label for="contactNumberTextField">Contact Number</label>
                    <input type="text" class="form-control"
                     id="contactNumberTextField"
                    placeholder="Enter the Contact Number"
                    name="contactNumber"
                    value="<%= contactlist.contactNumber %>"
                    required>
                </div>  
                <br>
                <div class="form-group">
                    <label for="emailTextField">Email</label>
                    <input type="email" class="form-control"
                    id="emailTextField"
                    placeholder="Enter the Email"
                    name="email" 
                    value="<%= contactlist.email %>"
                    required>
                </div>
                

                <br>
                <div class="formButton" >
                <button class="btn btn-primary" type="submit">
                    <span>Submit</span></button>
                    &nbsp&nbsp&nbsp&nbsp
                    <a href="/contactlistdelete/<%=contactlist._id %>" class="btn btn-danger btn-sm">
                    <span>Delete</span></a>
                    &nbsp&nbsp&nbsp&nbsp
                    <a href="/contactlist" class="btn btn-warning">
                    <span>Cancel</span></a>
                </div>
            </form>
       

    
</div>