<!--ContactList.ejs Kwun Hing Lau 301230390  10/19/2022-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <h1 class="pageheading"><span><%=title%></span></h1>
    <%- include('../../partials/header.ejs'); %>

</head>
<body>


   
    <%- include('../../partials/content'); %>
            <div class="formButton" >
            <a href="/contactlistadd" class="btn btn-primary" role="button">
                <span> Add New Contact</span></a>
            </div>
        
            <br><br>
            <!-- Repeatable Template Row -->
           
            <table class="contactListTable">
                <!-- Header Row-->
                <tr class="d-flex">
                   
                        <th class="text-center col-2">Contact Name</th>
                        <th class="text-center col-2">Contact Number</th>
                        <th class="text-center col-1">Email</th>
                     
                        <th class="text-center col-1"></th>
                        <th class="text-center col-1"></th>
                  
                </tr>
            <% for(let count = 0; count < contactList.length; count++) { %>
                <tr class="d-flex">
                    
                        <td class="text-center col-2"><%= contactList[count].contactName %></td>
                        <td class="text-center col-2"><%= contactList[count].contactNumber %></td>
                        <td class="text-center col-1"><%= contactList[count].email %></td>    
                             
                            <td class="text-center col-1">
                                <div class="formButton" >
                                <a href="/contactlistedit/<%= contactList[count]._id %>" class="btn btn-primary btn-sm">
                                <span> Edit</span></a>
                                </div> 
                            </td>
                            <td class="text-center col-1">
                                <div class="formButton" >
                                <a href="/contactlistdelete/<%= contactList[count]._id %>" class="btn btn-danger btn-sm">
                                <span>Delete</span></a>
                                </div> 
                            </td>
                         
                </tr>
            <% } %>
        </table>
  
            

            
</body>
<footer>
    <%- include('../../partials/footer'); %>
</footer>
</html>