<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <h1 class="pageheading"><span><%=title%></span></h1>
    <%- include('../../partials/header.ejs'); %>
   
</head>
<body>

    <%- include('../../partials/content'); %>

    <%- include('./_business_edit_fields'); %>
          
  

</body>
<footer>
    <%- include('../../partials/footer'); %>
</footer>
</html>