<!--HomePage.ejs Kwun Hing Lau 301230390  10/4/2022-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title><%=title%></title>
    <h1 class="pageheading"><span><%=title%></span></h1>
    
    <%- include('../partials/header'); %>
    
  
   
</head>
<body>
    <%- include('../partials/content'); %>
    <h3><span>Welcome to My Page</span></h3>
    <br>
    <div class="statement">
        <p>“Your only limitation is the one you set up in your own mind!”</p>
        <p class="author">- Napoleon Hill</p>
    </div>
    <div class="homepageaboutme" id="homepageaboutme">
        <h3><span>Want to know more about me?</span></h3>
    </div>
  
    
</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="js/HomePage.js"></script>
</html>