<!--Login.ejs Kwun Hing Lau 301230390  10/4/2022-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <h1 class="pageheading"><span><%=title%></span></h1>
    <%- include('../partials/header'); %>
</head>
<body>
    <%- include('../partials/content'); %>
  <!-- Message Area -->
    <% if(messages.length > 0) {%>
    <div class="alert alert-danger">
        <%= messages %>
    </div>
    <% } %>
    <main class="logincontainer">
                
            <h1>Please Login</h1>
            <form action="/" method="POST">
                <%- include('./_users_login_fields'); %>
                  
            </form>
      </main>
</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>